{% extends 'layout.twig' %}

{% block body %}

<div id="home_page_container">

        <div id="filters_wrapper">
                <div>Yoga Type
                        <div class="filters_checkboxes">
                                <label><input class="checkbox" data-key="class_type" data-value="hatha" id="hatha" 
                                                name="hatha" type="checkbox">hatha yoga</label>
                                <label><input class="checkbox" data-key="class_type" data-value="flow" id="flow"
                                                name="flow" type="checkbox">flow yoga</label>
                                <label><input class="checkbox" data-key="class_type" data-value="prenatal" id="prenatal"
                                                name="prenatal" type="checkbox">prenatal yoga</label>
                        </div>
                </div>

                <div>Date</div>

                <div>Time
                        <div class="filters_checkboxes">
                                <label><input class="checkbox" data-key="class_time" data-value="morning" id="morning"
                                                name="morning" type="checkbox">6:00 - 12:00</label>
                                <label><input class="checkbox" data-key="class_time" data-value="afternoon"
                                                id="afternoon" name="afternoon" type="checkbox">12:00-18:00</label>
                                <label><input class="checkbox" data-key="class_time" data-value="evening" id="evening"
                                                name="evening" type="checkbox">18:00-22:00</label>
                        </div>
                </div>



                <div>Language
                        <div class="filters_checkboxes">
                                <label><input class="checkbox" data-key="class_language" data-value="English"
                                                id="english" name="english" type="checkbox">English</label>
                                <label><input class="checkbox" data-key="class_language" data-value="Danish" id="danish"
                                                name="danish" type="checkbox">Danish</label>
                        </div>
                </div>


                {# <div>Location
                        <div class="filters_checkboxes">
                                <label><input class="checkbox" data-key="class_in_outdoor" data-value="indoor"
                                                id="indoor" name="indoor" type="checkbox">Indoor</label>
                                <label><input class="checkbox" data-key="class_in_outdoor" data-value="outdoor"
                                                id="outdoor" name="outdoor" type="checkbox">Outdoor</label>
                        </div>
                </div> #}

                {# <div>Day of the Week
                        <div class="filters_checkboxes">
                                <label><input class="checkbox" data-key="class_day" data-value="monday" id="monday"
                                                name="monday" type="checkbox">Mon</label>
                                <label><input class="checkbox" data-key="class_day" data-value="tuesday" id="tuesday"
                                                name="tuesday" type="checkbox">Tue</label>
                                <label><input class="checkbox" data-key="class_day" data-value="wednesday"
                                                id="wednesday" name="wednesday" type="checkbox">Wed</label>
                                <label><input class="checkbox" data-key="class_day" data-value="thursday" id="thursday"
                                                name="thursday" type="checkbox">Thu</label>
                                <label><input class="checkbox" data-key="class_day" data-value="friday" id="friday"
                                                name="friday" type="checkbox">Fri</label>
                                <label><input class="checkbox" data-key="class_day" data-value="saturday" id="saturday"
                                                name="saturday" type="checkbox">Sat</label>
                                <label><input class="checkbox" data-key="class_day" data-value="sunday" id="sunday"
                                                name="sunday" type="checkbox">Sun</label>
                        </div>
                </div> #}

                <div>Price
                        <div class="filters_checkboxes">
                                <label><input class="checkbox" data-key="class_price" data-value="cheap" id="cheap"
                                                name="cheap" type="checkbox">under 100DKK</label>
                                <label><input class="checkbox" data-key="class_price" data-value="average" id="average"
                                                name="average" type="checkbox">100-200DKK</label>
                                <label><input class="checkbox" data-key="class_price" data-value="pricy" id="pricy"
                                                name="pricy" type="checkbox">200DKK+</label>
                        </div>
                </div>

                <div>Duration
                        <div class="filters_checkboxes">
                                <label><input class="checkbox" data-key="class_duration" data-value="30" id="30min"
                                                name="30min" type="checkbox">30 min</label>
                                <label><input class="checkbox" data-key="class_duration" data-value="45" id="45min"
                                                name="45min" type="checkbox">45 min</label>
                                <label><input class="checkbox" data-key="class_duration" data-value="60" id="60min"
                                                name="60min" type="checkbox">60 min</label>
                                <label><input class="checkbox" data-key="class_duration" data-value="90" id="90min"
                                                name="90min" type="checkbox">90 min</label>
                        </div>
                </div>
        </div>

        <div id="search_results_wrapper">
                <div id="search_results">
                        <div id="classes">
                                {% for singleObject in classesData %}
                                <div class="single_class_container">
                                        <div class="single_class_top">
                                        </div>
                                        <div class="single_class_wrapper">
                                                <div class="single_class_col col_left">
                                                        <div>
                                                                <img class="single_class_thumbnail"
                                                                        src="/images/pexels-andrea-piacquadio-3757955.jpg"
                                                                        alt="yoga_class">
                                                        </div>
                                                        <div class="single_class_duration grey">
                                                                <span class="material-symbols-outlined">timer</span>
                                                                {{singleObject.class_duration}} min
                                                        </div>
                                                        <div class="">1.2 km away</div>
                                                        <div class="classID" style="display:none">
                                                                {{singleObject.class_id}} </div>
                                                </div>
                                                <div class="single_class_col col_mid">
                                                        <div class="single_class_title">{{singleObject.class_type}} Yoga
                                                                class <span>
                                                                        {% if singleObject.class_language == 'Danish' %}
                                                                        🇩🇰 
                                                                        {% elseif singleObject.class_language == 'English'%}
                                                                        🇺🇸 
                                                                        {% endif %}
                                                                </span> 
                                                        </div>

                                                        <div
                                                                class="single_class_location hover-underline-animation grey">

                                                                <span class="material-symbols-outlined">pin_drop</span>
                                                                {{singleObject.location_street}}
                                                                {{singleObject.location_building}},
                                                                {{singleObject.location_zipcode}}
                                                                <span class="googleLocation" style="display:none">
                                                                        {{singleObject.location_map}}</span>
                                                        </div>
                                                        <div
                                                                class="single_class_instructor grey hover-underline-animation">
                                                                <a href="/instructor/{{singleObject.instructor_id}}"
                                                                        class="grey" style="text-decoration:none">
                                                                        <span
                                                                                class="material-symbols-outlined">self_improvement</span>
                                                                        {{singleObject.instructor_first_name}}
                                                                        {{singleObject.instructor_last_name}}
                                                                </a>
                                                                <span
                                                                        class="material-symbols-outlined">double_arrow</span>
                                                        </div>
                                                        <div class="single_class_capacity grey">
                                                                <span class="material-symbols-outlined">groups</span>
                                                                Max {{singleObject.class_capacity}} people
                                                        </div>
                                                        <div class="single_class_date grey">
                                                                <span class="material-symbols-outlined">event</span>
                                                                {{singleObject.date|date("d/m/Y")}}
                                                        </div>
                                                        <div class="single_class_time grey">
                                                                <span class="material-symbols-outlined">schedule</span>
                                                                {{singleObject.class_time}}
                                                        </div>
                                                </div>
                                                <div class="single_class_col col_right">
                                                        <div class="single_class_more_info grey">
                                                                <a class="hover-underline-animation"
                                                                        href="/class/{{singleObject.class_id}}"> More
                                                                        info
                                                                        <span
                                                                                class="material-symbols-outlined">double_arrow</span>
                                                                </a>
                                                        </div>
                                                        <div>
                                                                <div class="single_class_price">
                                                                        {{singleObject.class_price}} DKK</div>
                                                                <div class="">
                                                                        {{singleObject.class_capacity - singleObject.reservations}} spots left
                                                                </div>
                                                        </div>
                                                        <div id="basket" class="single_class_basket">
                                                                <span
                                                                        class="material-symbols-outlined">shopping_cart</span>
                                                                <span class="addToBasketBtnValue"> Add to basket</span>
                                                        </div>
                                                </div>
                                        </div>
                                </div>
                                {% endfor %}
                        </div>
                </div>
                <div id="map">
                        <div class="map_text">click on the address to see the map</div>
                        <iframe class="map_iframe" src="" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade">click </iframe>
                </div>
        </div>
</div>


{% endblock %}