{% extends 'layout.twig' %}

{% block body %}

<section id="instructor_page_container">
    <div id="instructor_page_top">
        <div class="instructor_page_top_col_left">
            <div id="instructor_page_image_wrapper">
                {# <img id="instructor_page_image" src="/images/instructor_profile_pic.jpg" alt="yoga_class"> #}
                <img id="instructor_page_image" src="/images/instructor_profile_pic.jpg" alt="yoga_class">
            </div>
            <div id="instructor_page_info_wrapper">
                <div class="instr_name">{{first_name}} {{last_name}}</div>
                <div class="instr_title grey">Yoga instructor</div>
            </div>
        </div>
        <div class="instructor_page_top_col_right">
            <div class="favourite">
                <span class="material-symbols-outlined">
                    favorite
                </span>
                Add to favourites
            </div>
            <div>
                <div class="upcoming hover-underline-animation">
                    <a href="#instructor_upcoming_classes">{{first_name}}'s upcoming classes</a>
                    <span class="grey material-symbols-outlined">double_arrow</span>
                </div>
            </div>
        </div>
    </div>

    <div id="instructor_page_main">

        <div class="instructor_page_main_col_left">
            <div class="col_left_row">Experience: {{experience}} years </div>
            <div class="col_left_row">Ratings: 4.9 </div>
            <div class="col_left_row">Reviews:</div>            
            <div class="reviews_mini">
                {% for review in reviews %}
                <div class="review_mini_wrapper">
                    <div class="review_info">
                        <div class="review_date_time">
                            <div class="review_date">{{review.review_date|date("d/m/Y")}}</div>
                            <div class="review_time">{{review.review_time}}</div>
                            <div class="review_mini_author grey">{{review.user_first_name}} {{review.user_last_name}}</div>
                        </div>
                        <div class="review_title">
                            {{review.review_title|capitalize}}
                        </div>
                        <div class="review_text grey">
                            {{review.review_text}}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="instructor_page_main_col_right">
            <div class="col_right_heading">Where you can find {{first_name}}:</div>

            <ul>
                <div class="location_link hover-underline-animation">
                    <span class="material-symbols-outlined pin_drop">pin_drop</span>
                    <span class="instructor_page_studio"><a class="grey" href="">Yoga Studio XYZ</a></span>
                    <span class="material-symbols-outlined">double_arrow</span>
                </div>
            </ul>
            <ul>
                <div class="location_link hover-underline-animation">
                    <span class="material-symbols-outlined pin_drop">pin_drop</span>
                    <span class="instructor_page_studio"><a class="grey" href="">Yoga Studio 1</a></span>
                    <span class="material-symbols-outlined">double_arrow</span>
                </div>
            </ul>
            <ul>
                <div class="location_link hover-underline-animation">
                    <span class="material-symbols-outlined pin_drop">pin_drop</span>
                    <span class="instructor_page_studio"><a class="grey" href="">Amager Strand</a></span>
                    <span class="material-symbols-outlined">double_arrow</span>
                </div>
            </ul>
            <ul>
                <div class="location_link hover-underline-animation">
                    <span class="material-symbols-outlined pin_drop">pin_drop</span>
                    <span class="instructor_page_studio"><a class="grey" href="">Kongens Have</a></span>
                    <span class="material-symbols-outlined">double_arrow</span>
                </div>
            </ul>

        </div>

    </div>

    <div id="instructor_upcoming_classes">
        <div class="instructor_upcoming_classes__heading">
            {{first_name}}'s upcoming classes
        </div>


        <div id="upcoming_classes_wrapper">

            {% for upcomingClass in upcomingClasses %}            
            
            <div class="upcoming_class_wrapper">
                <div class="upcoming_class_title"> {{upcomingClass.class_type}} Yoga class 🇺🇸 🇩🇰 </div>
                
                <div class="upcom_class_container">
                    
                    <div class="upcom_class_col_left">
                        <div> {{upcomingClass.class_date|date("d/m/Y")}} </div>
                        <div> {{upcomingClass.class_time}} </div>
                        <div class="grey weekday">{{upcomingClass.class_date|date("l")}} </div>
                    </div>
                    
                    <div class="upcom_class_col_right">
                        <div class="location_link hover-underline-animation">
                            <span class="material-symbols-outlined pin_drop grey">pin_drop</span>
                            <span class="instructor_page_studio">
                                <a class="grey" href="">{{upcomingClass.location_street}} {{upcomingClass.location_building}}, {{upcomingClass.location_zipcode}}  </a>
                            </span>
                            <span class="material-symbols-outlined">double_arrow</span>
                        </div>
                        
                        <div class="max_capacity grey">
                            <span class="group_icon material-symbols-outlined">groups</span>
                            <div>Max {{upcomingClass.class_capacity}} people</div>
                        </div>
                        
                        <div class="attention grey">
                            <span class="attention-icon grey material-symbols-outlined">priority_high</span>
                            <div> {{upcomingClass.class_capacity - upcomingClass.reservations}} spots left</div>
                        </div>
                    </div>
                    
                    <div id="basket" class="single_class_basket">
                        <span class="material-symbols-outlined">shopping_cart</span>Add to basket
                    </div>
                    
                </div>
            </div>
            
            {% endfor %}            

        </div>
    </div>


</section>



{% endblock %}


{% block scripts %}
<script>

    showLogOutBtn();

</script>

{% endblock %}