<!DOCTYPE html>
<html>

<head>
  <title>{{ title }}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&family=Roboto+Serif:ital,opsz,wght@0,8..144,100;0,8..144,200;0,8..144,300;0,8..144,400;0,8..144,600;1,8..144,100;1,8..144,200;1,8..144,300;1,8..144,400;1,8..144,600&display=swap">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link
    href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
    rel="stylesheet">

  <link rel='stylesheet' href='/stylesheets/style.css' />


  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
  {% block nav %}
  <nav>
    <div id="logo">
      <a href="/home_{{data[0].role}}">YogaLand</a>
{# 
      {% if {{data[0].isInstructor}} %}
      <a href="/home_instructor">YogaLand</a>
      {% else %}
      <a href="/home_user">YogaLand</a>
      {% endif %} #}
      <span class="grey">{{ whoami }}</span>
    </div>
    <div id="nav_menu">
      <ul>

        <li><a href="/users/{{data[0].user_id}}/profile">My profile</a></li>



        <li>

        </li>

        {# <li class="checkout">
          <a href="/my_cart">
            <span class="material-symbols-outlined">shopping_cart_checkout</span>
            <span class="my_cart_items"></span>
          </a>
        </li> #}

        <li>
          {{data[0].first_name}}
        </li>

        <li><a href="/logout">Log out</a></li>
        <li>
          <span id="my_profile_icon" class="material-symbols-outlined">account_circle</span>
          <div id="dropdown_menu">
            <a href="/logout">Log out</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  {% endblock %}

  {% block body %}{% endblock %}
  {% block footer %}
  <footer>
    <div class="footer_columns">

      <div class="footer_col_left">
        <div class="footer_col_heading">Support</div>
        <ul>
          <li>Help Center</li>
          <li>Safety Information</li>
          <li>Cancellation Policy</li>
        </ul>
      </div>

      <div class="footer_col_mid">
        <div class="footer_col_heading">Community</div>
        <ul>
          <li>Meetups</li>
          <li>Staying in touch</li>
          <li>Retreats</li>
        </ul>
      </div>

      <div class="footer_col_right">
        <div class="footer_col_heading">About</div>
        <ul>
          <li>Newsroom</li>
          <li>New features</li>
          <li>Careers</li>
        </ul>
      </div>

    </div>


  </footer>
  {% endblock %}

  <script src="/javascripts/scripts.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment-with-locales.min.js"
    integrity="sha512-vFABRuf5oGUaztndx4KoAEUVQnOvAIFs59y4tO0DILGWhQiFnFHiR+ZJfxLDyJlXgeut9Z07Svuvm+1Jv89w5g=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>

</html>