{% extends 'layout.twig' %}

{% block body %}
<div id="secretInfo" class="hidden">{{data.user_id}}</div>


<section id="my_info" class="grey">
    <div class="my_info_top">
        <div class="open_close_icon_container">
            <div class="open-close-icon">
                <input type="checkbox" id="my_info_checkbox">
                <label class="menu_checkbox_label" for="my_info_checkbox">
                    <div></div>
                    <div></div>
                    <div></div>
                </label>
            </div>
        </div>
        <div class="my_info_title"> My Information</div>
    </div>
    <div class="my_info_col_wrapper hidden">
        <div class="my_info_form_wrapper">
            <form action="/edit_user_info" method="post">
                <div>
                    <label for="usermail"> Email </label>
                    <input id="signup_useremail" type="email" name="useremail" value="{{data.user_email}}"
                        placeholder="Email">
                </div>

                <div>
                    <label for="first_name"> First name</label>
                    <input id="signup__first_name" type="text" name="first_name" value="{{data.user_first_name}}"
                        placeholder="First name">
                </div>

                <div>
                    <label for="last_name">Last name</label>
                    <input id="signup__last_name" type="text" name="last_name" value="{{data.user_last_name}}"
                        placeholder="Last name">
                </div>

                <div>
                    <label for="street">Street</label>
                    <input id="signup__street" type="text" name="street" value="{{data.user_street}}"
                        placeholder="Street">
                </div>

                <div>
                    <label for="building">Building</label>
                    <input id="signup__building" type="number" name="building" value="{{data.user_building}}"
                        placeholder="Building">
                </div>

                <div>
                    <label for="zipcode">Zip code</label>
                    <input id="signup__zipcode" type="number" name="zipcode" value="{{data.user_zipcode}}"
                        placeholder="Zipcode">
                </div>
                <div>
                    <input id="edit_my_profile_btn" class="save_changes" type="submit" value="save changes">
                </div>
            </form>
        </div>



        <div class="profile_picture_wrapper">
            <div>Profile picture</div>
            {# <div><img class="picture_preview" id="profile_pic_preview" src="/images/profile-placeholder.png" alt="profilepicture"> </div> #}
            <div><img class="picture_preview" id="profile_pic_preview" src="{{(data.src?data.src:'/images/profile-placeholder.png')}}" alt="profilepicture"> </div>
            <form action="/image" method="post" enctype="multipart/form-data">
                <div>
                    <input type="file" name="fileToUpload" id="fileToUpload" class="inputfile">
                    <label for="fileToUpload">
                        <span>choose a file</span>
                    </label>
                </div>
                <div class="uploadFileBtn-wrapper">
                    <input class="uploadFileBtn" type="submit" value="Upload Image" name="submit">
                </div>
                <input type="hidden" value="{{data.user_id}}" name="user_id">
            </form>
        </div>
    </div>
</section>
















<section id="past_classes" class="grey">
    <div class="past_classes_top">
        <div class="open_close_icon_container">
            <div class="open-close-icon">
                <input type="checkbox" id="past_classes_checkbox">
                <label class="menu_checkbox_label" for="past_classes_checkbox">
                    <div></div>
                    <div></div>
                    <div></div>
                </label>
            </div>
        </div>
        <div class="past_classes_title">My Past Classes</div>
    </div>

    <div class="past_classes_container hidden">

    </div>
</section>








<section id="fav_instructors" class="grey">
    <div class="fav_instr_top">
        <div class="open_close_icon_container">
            <div class="open-close-icon">
                <input type="checkbox" id="fav_instr_checkbox">
                <label class="menu_checkbox_label" for="fav_instr_checkbox">
                    <div></div>
                    <div></div>
                    <div></div>
                </label>
            </div>
        </div>
        <div class="fav_instructors_title">My Favourite Instructors</div>
    </div>
    <div class="fav_instructors_container hidden">
        <div>instructor 1</div>
        <div>instructor 2</div>
    </div>
</section>


{% endblock %}

{% block scripts %}
<script>

    let myInfo = document.querySelector(".my_info_col_wrapper");
    let myInfoTop = document.querySelector(".my_info_top");
    let myInfoCheckBox = document.querySelector("#my_info_checkbox");

    let pastClassesCheckBox = document.querySelector("#past_classes_checkbox");
    let pastClassesTop = document.querySelector(".past_classes_top");
    let pastClassesContainer = document.querySelector(".past_classes_container");

    let favInstrCheckBox = document.querySelector("#fav_instr_checkbox");
    let favInstrTop = document.querySelector(".fav_instr_top");
    let favInstructorsContainer = document.querySelector(".fav_instructors_container");

    myInfoCheckBox.addEventListener('click', function () {
        myInfo.classList.toggle("hidden");
        myInfoTop.classList.toggle("active");
    })

    pastClassesCheckBox.addEventListener('click', function () {
        pastClassesContainer.classList.toggle("hidden");
        pastClassesTop.classList.toggle("active");
        fetchPastClasses();
    })

    favInstrCheckBox.addEventListener('click', function () {
        favInstructorsContainer.classList.toggle("hidden");
        favInstrTop.classList.toggle("active");
    })




    function showUploadFileName() {

        var inputs = document.querySelectorAll('.inputfile');
        Array.prototype.forEach.call(inputs, function (input) {
            var label = input.nextElementSibling,
                labelVal = label.querySelector('span').innerHTML;

            input.addEventListener('change', function (e) {
                var fileName = '';
                if (this.files && this.files.length > 1) {
                    fileName = (this.getAttribute('data-multiple-caption') || '').replace('{count}', this.files.length);
                } else {
                    fileName = e.target.value.split("\\").pop();
                }
                if (fileName) {
                    label.querySelector('span').innerHTML = fileName;
                } else {
                    label.innerHTML = labelVal;
                }

                const [file] = this.files;
                if (file) {
                    document.querySelector("#profile_pic_preview").src = URL.createObjectURL(file)
                }
            });
        });


    }

    showUploadFileName();



</script>

{% endblock %}