{% extends 'layout.twig' %}

{% block body %}


<section id="class_page_container">

    <div id="class_page_top">
        <div id="class_page_image_wrapper">
            <img id="class_page_image" src="/images/pexels-andrea-piacquadio-3757955.jpg" alt="yoga_class">
        </div>

        <div id="class_page_main_info">
            <div class="classID" style="display:none"> {{queryData.class_id}}</div>
            <div id="class_page_title"> {{queryData.class_type}} yoga class</div>

            <div class="class_page_col_wrapper">

                <div class="class_page_col_left">
                    <div class="class_page_instructor hover-underline-animation grey">
                        <a href="/instructor/{{queryData.instructor_id}}">
                            <span class="grey">with {{queryData.instructor_first_name}}
                                {{queryData.instructor_last_name}} </span>
                            <span class="grey material-symbols-outlined">double_arrow</span>
                        </a>
                    </div>
                    <div class="class_page_date_time grey">
                        <div><span class="material-symbols-outlined">event</span> {{queryData.class_date|date("d/m/Y")}}
                        </div>
                        <div><span class="material-symbols-outlined">schedule</span> {{queryData.class_time}} </div>
                    </div>
                </div>

                <div class="class_page_col_right">
                    {# <div class="class_page_price"> {{queryData.class_price}} DKK</div> #}
                    <div class="class_page_price single_class_price">

                        {% if queryData.discount == true %}
                        <div class="single_class_old_price grey">{{queryData.class_price }}</div>
                        <div class="single_class_new_price">{{queryData.class_new_price}}</div>
                        {% elseif queryData.discount == null %}
                        {{queryData.class_price}}
                        {% endif %}
                        DKK
                    </div>

                    {% if queryData.signedup %}
                    {# <div class="going"><span>going</span></div> #}
                    
                    {# {% if queryData.class_date|date("d/m/Y") < "now"|date("d/m/Y") %} <div class="going"> #}
                    {% if queryData.past_event == 1 %} <div class="going">
                        <span>went</span> </div>
                        {% else %}
                        <div class="going"><span>going</span></div>

                        {% endif %}

                {% else %}
                <div id="basket" class="single_class_basket">
                    <span class="material-symbols-outlined">shopping_cart</span>
                    <div>sign up</div>
                </div>
                {% endif %}

            </div>
        </div>
    </div>
    </div>

    <div id="class_page_extra_info">
        <div class="class_page_extra_info_top">

            <div class="class_page_location grey">
                <div class="location_link hover-underline-animation">
                    <span class="material-symbols-outlined pin_drop">pin_drop</span>
                    <span class="class_page_studio"><a class="grey" href="">Yoga Studio XYZ</a></span>
                    <span class="material-symbols-outlined">double_arrow</span>
                </div>
                <div class="class_page_address">
                    <span class="class_page_street grey"> {{queryData.location_street}} {{queryData.location_building}},
                        {{queryData.location_zipcode}} </span>
                </div>
            </div>

            <div class="class_page_ratings grey">
                <div class="class_page_ratings_number"> ⭐ 4.5</div>
                <div class="class_page_ratings_reviews hover-underline-animation">
                    <a class="grey" href="#class_page_reviews"> Reviews
                        <span class="class_page_review_number">({{classReviews.length}})</span>
                        <span class="material-symbols-outlined">double_arrow</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="class_page_class_description grey">
            {{queryData.class_description}}
        </div>

        <div id="class_page_reviews">

            <div>

                <div>Leave a review </div>
                <form action="/submit_review" method="post">
                    <div class="hidden">
                        <label class="hidden">
                            <input id="class_id" type="text" name="class_id" class="hidden"
                                value="{{queryData.class_id}}">
                        </label>
                    </div>
                    <div class="hidden">
                        <label class="hidden">
                            <input id="ins_id" type="text" name="ins_id" class="hidden"
                                value="{{queryData.instructor_id}}">
                        </label>
                    </div>
                    <div class="hidden">
                        <label class="hidden">
                            <input id="review_date" type="text" name="review_date" class="hidden"
                                value="{{"now"|date("Y/m/d")}}">
                        </label>
                    </div>

                    <div>
                        <label>
                            <input id="review_title_input" type="text" name="review_title_input" 
                                placeholder="review title">
                        </label>
                    </div>
                    <div>
                        <label>
                            <input id="review_text_input" type="text" name="review_text_input" 
                                placeholder="review text">
                        </label>
                    </div>
                    <div>
                        <input class="submit_review_btn" type="submit" value="Send">
                    </div>
                </form>
            </div>

            {% for review in classReviews %}


            <div class="review_wrapper">
                <div class="review_info">
                    <div class="review_date_time">
                        <div class="review_date">{{review.review_date|date('d/m/Y')}}</div>
                        <div class="review_time">{{review.review_time}}</div>
                    </div>
                    <div class="review_title">
                        {{review.review_title}}
                    </div>
                    <div class="review_text grey">
                        {{review.review_text}}
                    </div>
                </div>
                <div class="review_author">{{review.user_first_name}} {{review.user_last_name}}</div>
            </div>

            {% endfor %}

        </div>
    </div>


</section>



{% endblock %}


{% block scripts %}
<script>

    showLogOutBtn();

</script>

{% endblock %}